* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #3d4641;
}

/* JOIN */

nav{	
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: whitesmoke;

}

.banner {
	width: 100%;
	height: 100vh;
	background-image: url('tree.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

span{
	color: orange;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8rem;
}


h2{
	text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding-bottom: 20px;
}

h3{
	text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo{
	margin-left: 50px;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	margin-right: 50px;
}

.join{
	margin: 50px;
	margin-top: 130px;
	width:26%

}

.btn-join{
	border-radius: 3px;
    border: none;
	background-color: black;
	color: white;
	padding: 10px 10px;
	margin-top: 30px;
}

/* End join*/


/* ABOUT US */

.about{
	margin: 90px;
	text-align: center;
}

.aboutUs{
	margin-bottom: 20px;
}

.praAbout p{
	margin: 70px;
}

.panels{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 100px;
    justify-content: center;
}

.panel{
	height: 450px;
	padding: 15px;
	border-radius: 5px;
	border-top: 2px solid orange;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.panel p{
	text-align: left;
	font-size: 0.5rm;
}

.panTop{
	text-align: center;
}

.icon{
	width: 50px;
	height: 60px;
	padding-bottom: 10px;
	border-bottom: 2px solid orange;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* End about us */


/* CONTACT US */

.cl-2{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 300px;
    justify-content: center;
}

.contInfo p{
	width: 70%;
	text-align: left;
	margin: 20px 0;
}

.underLine{
	border-bottom: 2px solid orange;
	border-spacing: 10px;
	padding-bottom: 5px;
}

.info li{
	display: block;
	flex-direction: column;
	margin-top: 10px;
}

.imgCont{
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

.imgMap{
	width: 60%;
	margin-top: 20px;
}

.inputDecor{
	border: none;
	padding: 12px 20px;
	margin: 25px 0;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.areaDecor{
	border: none;
	padding: 12px 20px;
	margin-top: 25px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.btn-submit{
	border-radius: 3px;
    border: none;
	background-color: rgb(87, 85, 85);
	color: orange;
	padding: 10px 10px;
	margin-top: 30px;
}

.foot p{
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	color: white;
	text-align: center;
	background-color: rgb(87, 85, 85);
}

/* End contact us */

